<!-- 自定义关于页 -->

<p style="color: #444;">
    <span class="iconfont icon-cogs"></span>
    關於我
</p>

<ul style="list-style-type: none;">
    <li title="请先登录脉脉">
        <span class="iconfont icon-profile"></span>
        查看<a href="https://maimai.cn/contact/detail/30227616?from=DialogueCard&from_webim=1" target="_blank">個人介紹</a>
    </li>
    <li>
        <span class="iconfont icon-school"></span>
        2020年6月，畢業於城市科大
    </li>
    <li>
        <span class="iconfont icon-newspaper"></span>
        目前工作全端工程師，主要用C#為主
    </li>
    <li>
        <span class="iconfont icon-email"></span>
        聯絡信箱 informarion9527@gmail.com
    </li>
</ul>

<p style="color: #444;">
    <span class="iconfont icon-cogs"></span>
    關於Blog
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="iconfont icon-files"></span>
        Blog主要使用<a href="https://hexo.io/">Hexo</a>靜態Blog系统、主題套用
        hexo-theme-xups 主题<a href="https://github.com/jangdelong/hexo-theme-xups" target="_blank">Xups</a> (<a href="https://hexo.io/themes/" target="_blank">Hexo 官方</a>)
    </li>
    <li>
        <span class="iconfont icon-files"></span>
        Blog内容主要是學習工作過程中的一些Web總結和生活點滴，除非特殊聲明，Blog内容皆為個人原創，轉載請標示文章來源
    </li>
    <li>
        <span class="iconfont icon-files"></span>
        Blog的字體文件以及絕大部分圖片存取於 Github Pages 採用 <a target="_blank" href="https://coding.net/">Coding</a>
    </li>
</ul>

<p style="color: #444;">
    <span class="iconfont icon-cogs"></span>
    Github帳號
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="iconfont icon-github"></span>
        <a href="https://github.com/JontCont" target="_blank">我的Github</a>
    </li>
</ul>
